@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide logout button in sidebar */
.ant-menu-item[data-menu-id$="-logout"] {
  display: none !important;
}

/* Alternative selector if the above doesn't work */
.ant-layout-sider .ant-menu-item:has(.anticon-logout) {
  display: none !important;
}
